@{ ViewData["Title"] = "High Church Art Gallery"; }

<div class="container-fluid" style="font-size: 16pt;">
    @Html.Partial("_GalleryMenu")
    <div class="row row-fluid mb-4">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">Stream Background</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/FV_background_stained.jpg">
                <div class="card-body">
                    <p class="card-text">By Sacră Albină#1352</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">Logo Outline Background</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/FVlogo_recovery_point_outline.png">
                <div class="card-body">
                    <p class="card-text">By Sacră Albină#1352</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card">
                <h3 class="card-header">Pope Hat Full Quality</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/pope_hat.png">
                <div class="card-body">
                    <p class="card-text">By Hablaman#4253</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-fluid mb-4">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">Stained Glass 1</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/stainedglass1.jpg">
                <div class="card-body">
                    <p class="card-text">By Ping me more#4374</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">Stained Glass 2</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/stainedglass2.jpg">
            </div>
            <div class="card-body">
                <p class="card-text">By Ping me more#4374</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">Church Seal</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/wax_seal.png">
            </div>
            <div class="card-body">
                <p class="card-text">By Sacră Albină#1352</p>
            </div>
        </div>
    </div>
    <div class="row row-fluid mb-4">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">Demnoph Cathedral</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/demnoph_cathedral.jpg">
                <div class="card-body">
                    <p class="card-text">By Sacră Albină#1352</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">Crusader Bot</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/crusader_bot.jpg">
                <div class="card-body">
                    <p class="card-text">By The Trilliant Ring</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">Far Verona Logo in Stained Glass</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/FVlogo_Glass_Final.png">
                <div class="card-body">
                    <p class="card-text">By Hierophant Observer Sacră-Albină</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-fluid mb-4">
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">The Panopticon Matrix 1</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/PMAX1.png">
                <div class="card-body">
                    <p class="card-text">By Prefect Aquila Aspid(?) Kairun</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">The Panopticon Matrix 2</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/PMAX2.png">
                <div class="card-body">
                    <p class="card-text">By Prefect Aquila Aspid(?) Kairun</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">The Panopticon Matrix 3</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/image0.jpg">
                <div class="card-body">
                    <p class="card-text">By Prefect Aquila Aspid(?) Kairun</p>
                </div>
            </div>
        </div>
    </div>
</div>