@{ ViewData["Title"] = "High Church Art Gallery"; }

<div class="container-fluid" style="font-size: 16pt;">
    @Html.Partial("_GalleryMenu")
    <div class="row row-fluid mb-4">
        <p class="d-block mx-auto">Memes Generously Donated By Our Friends at the Trilliant Ring</p>
    </div>
    @Html.Raw(Model.row_html)
</div>