@{ ViewData["Title"] = "High Church Art Gallery"; }

<div class="container-fluid" style="font-size: 16pt;">
    @await Html.PartialAsync("_GalleryMenu")
    <div class="row row-fluid mb-4">
        <p class="d-block mx-auto">Memes Generously Donated By Our Friends at the Trilliant Ring</p>
    </div>
    <div class="text-center">
        @Html.Raw(Model.row_html)
    </div>
    
</div>