<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" asp-area="" asp-controller="Gallery" asp-action="Index">Main Gallery <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" asp-area="" asp-controller="Gallery" asp-action="Memes">Cactus Pius Memorial Wing</a>
    </div>
</nav>