@using Microsoft.AspNetCore.Http.Features
@{ var consentFeature = Context.Features.Get
<ITrackingConsentFeature>(); var showBanner = !consentFeature?.CanTrack ?? false; var cookieString =
    consentFeature?.CreateConsentCookie(); }
    @if (showBanner) {
    <div class="alert alert-dismissible alert-success" id="cookieConsent" role="alert">
        <div class="d-flex flex-column align-items-center">
            <p class="align-items-center">
                We use cookies to provide a smooth browsing experience. Connection data is provided to a third party to
                monitor services. For
                more information, click Learn More below. You consent to our cookies and the collection of certain
                information if you continue to use this site.
                Please accept the cookie policy before continuing.
            </p>

            <form asp-action="CookieRegister" asp-controller="GDPR">
                <a asp-controller="GDPR" asp-action="Index" class="btn btn-secondary">Learn More</a>
                <input type="submit" value="Accept" class="btn btn-success" />
            </form>
        </div>

    </div>

    <script>
        function hide(elements) {
            elements = elements.length ? elements : [elements];
            for (var index = 0; index < elements.length; index++) {
                elements[index].style.display = 'none';
            }
        }
    </script>
    }