@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<a href="https://github.com/kbmacneal/church_of_the_emperor_as_messiah" target="_blank" rel="noopener">You seem to have encountered an error. Please file an issue request in the Github Repo so the developers can fix it!</a>