@model DecreesModel
@{
    ViewData["Title"] = "Decrees";
}

<div class="content container-fluid col-centered">
        <div class="row-fluid">
            <div class="col-12">
                <img class="img-fluid h-auto" src="~/Assets/pope_hat_compressed.png" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="col" style="font-size:larger;">
                <h2 class="text-center"><strong>From the Throne of St. Mercury</strong></h2>
                <h3 class="text-center"><i>Decree - The Sanctity of the Soul</i></h3>
                </br>
                @Html.Raw(Model.mod_text)
            </div>
        </div>
        <div class="row-fluid">
            <div class="col" style="font-size:larger;">
                <div class="d-flex justify-content-center">
                    <div class="col-12 img img-fluid "><img src="~/Assets/high_order.png" width="300px" class="img-fluid center-block" /></div>
                </div>
                <h2 class="text-center"><strong>Council of Exarchs Divine Proclamation on the Mocking of Human Divinity via Synthetic Organisms</strong></h2>
                </br>
                <h3 class="text-center"><i>A Proclamation by the Council of Exarchs</i></h3>
                </br>
                @Html.Raw(Model.synth_decree_text)
            </div>
        </div>
    </div>

