@{ ViewData["Title"] = "Home Page"; }


<div class="container-fluid">
    <div class="d-flex flex-wrap">
        <div class="flex-column w-auto mx-auto">
            <p>
                <a href="https://twitter.com/ExarchTatiana?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow ExarchTatiana</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
            <div class="pre-scrollable w-100" style="max-height: 100vh;">
                <a class="twitter-timeline" href="https://twitter.com/ExarchTatiana?ref_src=twsrc%5Etfw">Tweets by Exarch Tatiana, the High Voice</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="d-flex flex-column mx-auto" style="padding-left:5%;">
            <div class="d-flex flex-row">
                <h3>News and Events</h3>
            </div>
            <div class="flex-row">
                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">Church Opens Sector-wide Charity</h4>
                        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Announcements" asp-action="Charity">Read &raquo;</a>
                    </div>
                </div>
                <div class="card border-secondary" style="margin-bottom:15px; display:none;">
                    <div class="card-body">
                        <h4 class="card-title">Church Welcomes New Arhat</h4>
                        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Cactus">Read &raquo;</a>
                    </div>
                </div>
                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">Lyra Publishes New Burial Specifications for Clergy</h4>
                        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Burial" asp-action="Specifics">Read &raquo;</a>
                    </div>
                </div>
                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">Faith and Virtue: A Response to Governor Mourne Kushrenade</h4>
                        <a class="btn btn-outline-secondary" href="/Documents/faith_and_virtue.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>
                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">The Church Remembers the Fallen on Teuthem</h4>
                        <a class="btn btn-outline-secondary" href="/Documents/Teuthem_Memoriam.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>
                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">Response to the 12th Debate</h4>
                        <a class="btn btn-outline-secondary" href="/Documents/12th_debate_response.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">Excommunication of the Apostate Money Lenders</h4>
                        <a class="btn btn-outline-secondary" href="/Documents/Excommunication.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">Official Statement on Koschei the Deathless</h4>
                        <a class="btn btn-outline-secondary" href="/Documents/koschei_1.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">The Church's Public Statements on Berkmann III</h4>
                        <a class="btn btn-outline-secondary" href="/Documents/berkmann_iii_pr.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">The Spirit of Unity on Andophael</h4>
                        <a class="btn btn-outline-secondary" href="/Documents/spirit_of_unity.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">20 Questions With the High Church</h4>
                        <a class="btn btn-outline-secondary" href="/Assets/20questions.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">A Letter From Meret Lyra Pygmalion Blue</h4>
                        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Burial" asp-action="Index">Read &raquo;</a>
                    </div>
                </div>

                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">A Sermon On Yakiyah</h4>
                        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonYakiyah">Read &raquo;</a>
                    </div>
                </div>

                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">From the Desk of the Grand Voice</h4>
                        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Content" asp-action="FromTheDesk">Read &raquo;</a>
                    </div>
                </div>

                <div class="card border-secondary" style="margin-bottom:15px;">
                    <div class="card-body">
                        <h4 class="card-title">The Sermons of High Priest Callixtus Pius</h4>
                        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="Index">Read &raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>