@{ ViewData["Title"] = "Privacy Policy"; }

<div class="container-fluid">
    <div class="flex-row">
        <p>Under the General Data Protection Regulation (GDPR), all residents of the European Union have the right to control their data. This site seeks to comply with all applicable regulations.</p>
        <p>For more information on your rights under the GDPR, see </p>
        <a href="https://www.eugdpr.org/gdpr-faqs.html" target="_blank">https://www.eugdpr.org/gdpr-faqs.html</a>

        <p>To submit a request to remove your data, <a href="https://highchurch.space/GDPR">click here.</a></p>
    </div>
</div>