################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/emperor3/Properties/PublishProfiles/*
/emperor3/bin/*
/emperor3/obj/*
/packages/*
/emperor3/bin
/emperor3/obj/Debug
/emperor3/obj/Release
