@{ ViewData["Title"] = "Reading"; }

<div class="container">
    <div class="flex-row">
        <h2>Support the Developers</h2>
        <p style="font-size:larger;">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <a href="https://paypal.me/kbmacneal" target="_blank"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" /></a>
            </form>
        </p>
        <p style="font-size:larger;">Please take a moment and consider supporting the site developers. It takes a great deal of time and effort to put together a public website, not to mention hosting and DNS costs. Anything donated goes directly toward keeping the site looking great
            and frequently updated.</p>
        <p style="font-size:larger;">Thanks!</p>
        <p style="font-size:larger;">~ The Dev Team</p>
    </div>
</div>