@{
    ViewData["Title"] = "Templates";
}

<div class="container-fluid center">
    <div class="row-fluid">
        <div class="col">
            <table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Character Wiki Template</th>
                            <td><a class="btn btn-outline-secondary" target="_blank" href="https://far-verona.wikia.com/wiki/Character_Template_Page" role="button">Visit &raquo;</a></td>
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
    </div>
</div>