@page
@model JoinModel
@{
    ViewData["Title"] = "Reading";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}
    <div class="container">
        <div class="row">
            <div class="col-12" style="font-size:larger;">
                <h2>A Letter From Meret Lyra Pygmalion Blue</h2>
                <p>My Dear Exarch Bendlin Olegovich,</p>

                <p>I am not perhaps the most learned in the matters you have expressed curiosity in, but I will endeavor to illuminate them to you. The Lyran burial tradition is an artistic and performative process that is highly focused on reverence for death, remembrance for the fallen, but above all else those who are still living Here. The dead have passed into the After and are beyond the reach of anyone in House Lyra or any other body. But it is crucially important that the meaning of death is shared to all. </p>

                <p>For Lyrans a funeral procession is about spurring the living to greater heights of thought, creativity and even passion. They view the role of the church in this as spiritual guides, contextualizing the particular passage into the After through spiritual wisdom and the shining beacons of the Ten Virtues. </p>

                <p>A typical burial conducted for a noble involves several steps. The body is prepared by morticians of the Neshmet branch of House Lyra, with a priest present to sanctify the process. Even so this step is fairly workmanlike, focusing on the careful removal of delicate organs and preparation for display. It is in display that the majority of effort is spent.</p>

                <p>Each house has their own variations on these traditions but the large wakes of nobles are critical moments of catharsis. Debates on the individual’s life held by Lyran philosophers of the Tehuti branch, commemorative art and performances by the Meret and Hekate branches, and counseling offered by the Horuset branch are organized in parallel with several large sermons by the High Church in order to allow the public to process the death, to encourage them to give their lives and own future passings into the After greater meaning and context. From time to time the message offered by the Church and that offered by Lyra differs, but in this humble Meret’s opinion, that dissonance only enhances the ability of the funeral to provide catharsis to the living.</p>

                <p>After this crucial stage, once the Neshmet determine that the proper reconciliation of the individual in life and in death has concluded the body is interred in the crypt of their family. For commoners this often means casket burial, but for those of means it involves family catacombs and mausoleums guarded and kept by solemn servants of the Neshmet. House Lyra as a whole considers these places to be akin to museums, and encourage others to be buried with art or writings that give context to their visitors, so that their all-important deaths can encourage and inspire those in life.</p>

                <p>These beliefs are the orthodoxy within Lyra, and represent the basics of burial, but there are variations from family to family and planet to planet. Members of House Lyra find cremation of the entire body particularly distasteful and this is one of the few points they rarely if ever compromise on. I hope this serves to further illuminate the how and why of my families practices and the specific role of the church therein.</p>

                <p>Yours in The Emperox's Grace,</p>
                <p>Meret Lyra Pygmalion Blue</p>


            </div>
        </div>
    </div>