@page
@model JoinModel
@{
    ViewData["Title"] = "Reading";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}
    <div class="container">
        <div class="row">
            <div class="col-12" style="font-size:larger;">
                @Html.Raw(Model.burialtext)
            </div>
        </div>
    </div>