@page
@model DecreesModel


<h3 style="font-weight:bold">@Model.Message</h3>

<p>Hereby the High Church decrees that gene modification for the betterment of the Empire is within our teachings and adheres to the ten Virtues, as long as the Guidelines set by the Council are adhered to. Guidelines:</p>
<p>1 - The vessel must be human at its core.</p>
<p>2 - The vessel’s mind must be clear so they can defy the thoughts of heresy.</p>
<p>3 - The vessel must retain the ability to feel pain, both of the body and the mind.</p>

