@page
@model FAQ
@{
    ViewData["Title"] = "FAQ";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}

<div class="container-fluid">
    
    <div class="row-fluid">
        <div class="col-3 col-centered">
            
            <img class="img img-thumbnail" src="Assets/crusader_bot.jpg"></img>
        </div>
        
        
    </div>
    <div class="row-fluid">
        <div class="col">
            <h2>FAQ</h2>
        </div>
    </div>
    <div class="row-fluid">
            <div class="col" style="font-size: larger;">
                @Html.Raw(Model.FAQtext)
            </div>
        </div>
</div>