@page
@model FAQ
@{
    ViewData["Title"] = "Error";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>FAQ</h2>
        </div>
    </div>
    <div class="row">
            <div class="col">
                @Html.Raw(Model.FAQtext)
            </div>
        </div>
</div>