@page
@model JoinModel
@{
    ViewData["Title"] = "Reading";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}
<div class="container">
<div class="row">
    <div class="align-content-center container" style="display: table-cell; vertical-align: middle; text-align: center">
        <img src="~/Assets/high_order.png" style="align-content: center; width:300px;" class="img-fluid" />
        <h2>From the Desk of Exarch Tatiana, The Grand Voice of the High Church</h2>
    </div>
</div>
<div class="row" style="font-size:larger;">

    <p>The traditional High Church symbol is a decagram around a throne, representing the Ten Virtues and the Emperor. But as the Emperor changes the Church must too.</p>

    <p>In consultation with the PRISM Network's branding experts, the Church has adopted a new sigil to demonstrate its enduring and renewed commitment to bring the people of Acheron Rho reassurance in these uncertain times.</p>

    <p>The Church's new sigil uses a tau cross in the shape of a human created from a womb, a celebration of the birth cycle. This emphasis on renewal and new beginning shows our trust and expectation in the ascendancy of a new Emperor.</p>

    <p>As the nine months of gestation align with the Ten Virtues, birth itself being the tenth virtue of Hope, so too does the shaped tau cross (humanity) and its intersection with the central perfect circle (God) consist of ten points.</p>

    <p>The four quadrants and four axes combine with the cross and circle to also reach the holy 10.</p>

    <p>For now enjoy the sigil of the High Order, the core of the High Church. Over the next few days we will remind you of our other branches revealing their sigils to you, so you may find the path is right for you.</p>
</div>
    </div>