@page 
@model IndexModel 
@{ ViewData["Title"] = "Welcome"; } 
@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}


<div class="container-fluid center">
    <div class="row align-content-center">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <div class="container w-auto">
                <div class="row-fluid">
                    <p>
                        <a href="https://twitter.com/ExarchTatiana?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow ExarchTatiana</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </p>
                </div>
                <div class="row-fluid">
                    <div class="pre-scrollable">
                        <a class="twitter-timeline" href="https://twitter.com/ExarchTatiana?ref_src=twsrc%5Etfw">Tweets by Exarch Tatiana, the High Voice</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="container w-auto">
                <div class="row" style="width:auto;">
                    <h3>News and Events</h3>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">The Church Remembers the Fallen on Teuthem</h4>
                        <a class="btn btn-secondary btn-lg" href="/Documents/Teuthem_Memoriam.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Response to the 12th Debate</h4>
                        <a class="btn btn-secondary btn-lg" href="/Documents/12th_debate_response.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Excommunication of the Apostate Money Lenders</h4>
                        <a class="btn btn-secondary btn-lg" href="/Documents/Excommunication.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Official Statement on Koschei the Deathless</h4>
                        <a class="btn btn-secondary btn-lg" href="/Documents/koschei_1.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">The Church's Public Statements on Berkmann III</h4>
                        <a class="btn btn-secondary btn-lg" href="/Documents/berkmann_iii_pr.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">The Spirit of Unity on Andophael</h4>
                        <a class="btn btn-secondary btn-lg" href="/Documents/spirit_of_unity.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">20 Questions With the High Church</h4>
                        <a class="btn btn-secondary btn-lg" href="/Assets/20questions.pdf" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">A Letter From Meret Lyra Pygmalion Blue</h4>
                        <a class="btn btn-secondary btn-lg" href="/Burial" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">A Sermon On Yakiyah</h4>
                        <a class="btn btn-secondary btn-lg" href="/Sermons/SermonYakiyah" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">From the Desk of the Grand Voice</h4>
                        <a class="btn btn-secondary btn-lg" href="/FromTheDesk" role="button">Read &raquo;</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">The Sermons of High Priest Callixtus Pius</h4>
                        <a class="btn btn-secondary btn-lg" href="/Sermons/Index" role="button">Read &raquo;</a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>