@page
@model SocialModel
@{
    ViewData["Title"] = "Important Links and Details";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}

<div class="container-fluid center">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <h3>Current In-Game Day:<br> January 3, 3200</h3>
            <br>
            <h3>Follow the Church on Social Media</h3>
            <a href="http://far-verona.wikia.com/wiki/The_High_Church_of_Messiah-as-Emperor" target="_blank" class="btn btn-secondary btn-lg" runat="server">Read the Church Wiki &raquo;</a>
            <div style="height: 16px;"></div>
            <a href="https://sectorswithoutnumber.com/sector/m11ZXBOt6xiJGo21EKio/planet/BBS4toeUIqJUg6Ydp3fK" target="_blank" class="btn btn-secondary btn-lg" runat="server">Sector Map &raquo;</a>
            <div style="height: 16px;"></div>
            <a href="http://jgraks-a-p-recap.blubrry.net/feed/podcast/" class="btn btn-secondary" target="_blank">PRISM Network's Podcast &raquo;</a>
            <div style="height: 16px;"></div>
            <a href="https://twitch.tv/itmejp" class="btn btn-secondary" target="_blank">JP's Stream &raquo;</a>
            <div style="height: 16px;"></div>
            <p><a href="https://twitter.com/ExarchTatiana?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" target="_blank">Follow ExarchTatiana</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>

            <div style="height: 16px;"></div>
            <div class="container-fluid">
                
                <div class="row-fluid pre-scrollable">
                    <a class="twitter-timeline" href="https://twitter.com/PRISMHeadlines?ref_src=twsrc%5Etfw">Tweets by PRISMHeadlines</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <br></br>
                <div class="row-fluid"><h3>Sector Map:</h3></div>
                <div class="row-fluid">
                    <img src="/Assets/Sectormap.jpg" class="img-fluid img-thumbnail"></img>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8" style="font-size: larger;">
            <div class="container">
                <div class="row">
                <div class="col-6">
                    <img class="img-fluid img-thumbnail" src="https://i.pinimg.com/originals/dc/40/f4/dc40f4bf7677a459603bba8bb47afc07.jpg" />
                </div>
                <div class="col-6">
                    <img class="img-fluid img-thumbnail" src="Assets/sig_system.jpg" />
                </div>
            </div>
            </div>
            
            
            @Html.Raw(Model.andophael_text)
        </div>
    </div>
</div>
    