@page
@model SectsModel
@{
    ViewData["Title"] = "Official Sects";
}
@section styles{
    <link rel="Stylesheet" href="@Href("~/lib/creative/css/creative.css")" />
    <link rel="Stylesheet" href="@Href("~/lib/bootstrap/dist/css/bootstrap.css")" />
    <link rel="Stylesheet" href="@Href("~/css/site.css")" />
}

<div class="container-fluid center font-larger">
    <div class="row-fluid">
        <div class="col">
            <table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Sect Creation Template</th>
                            <td><a class="btn btn-secondary btn-lg" href="https://docs.google.com/document/d/1DPEZPqfZUlSROjq7sBeNGNQapII4astWAO0iNP01FLc/edit" role="button">Visit &raquo;</a></td>
                        </tr>
                        <tr>
                            <th scope="row">Cult Template</th>
                            <td><a class="btn btn-secondary btn-lg" href="http://far-verona.wikia.com/wiki/High_Church_Sect/Cult_Template" role="button">Visit &raquo;</a></td>
                        </tr>
                    </tbody>
                </table>
            </table>
        </div>
    </div>
</div>