@{ ViewData["Title"] = "Denunciations"; }
<div class="container-fluid">
    <div class="d-flex flex-column">
        <h3 style="font-weight: bold">Denunciations of Recent Events</h3>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Link</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        The Abrogation of Justice, by Exarch Purist Pelax
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Denunciation" asp-action="Justice">Read &raquo;</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>