@{ ViewData["Title"] = "Denunciations"; }

<div class="container-fluid">
    <div class="d-flex flex-column">
        <h3 class="d-block mx-auto" style="font-weight: bold">Denunciations of Recent Events</h3>

        <div class="d-block mx-auto">
            <table class="table table-bordered table-responsive d-block mx-auto border-light">
                <thead class="thead-inverse">
                    <tr>
                        <th scope="col">Virtue</th>
                        <th scope="col">Name</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <strong>Justice</strong>
                        </td>
                        <td scope="row">
                            The Abrogation of Justice, by Exarch Purist Pelax
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Denunciation" asp-action="Justice">Read &raquo;</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>Hope</strong>
                        </td>
                        <td scope="row">
                            Hope, by Hierophant Andelo Kopač
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Denunciation" asp-action="Hope">Read &raquo;</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>Propriety</strong>
                        </td>
                        <td scope="row">
                            A Reminder of Propriety, by Exarch Reformist Gideon Anderida
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Denunciation" asp-action="Propriety">Read &raquo;</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>Wisdom</strong>
                        </td>
                        <td scope="row">
                            The Ontology of Ignorance and Wisdom, by Priest Torpel Woburn
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Denunciation" asp-action="Wisdom">Read &raquo;</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>Faith</strong>
                        </td>
                        <td scope="row">
                            A Break from Faith by Crusader Gregorius & Hierophant Andelo Kopac
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Denunciation" asp-action="Faith">Read &raquo;</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>Fortitude</strong>
                        </td>
                        <td scope="row">
                            Fortitude, by Exarch Crusader Gregorius and Hierophant Andelo Kopač
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Denunciation" asp-action="Fortitude">Read &raquo;</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>Temperance</strong>
                        </td>
                        <td scope="row">
                            Temperance: One of God's most Holy Virtues, By Exarch Crusader Gregorious & Hierophant Andelo Kopač
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Denunciation" asp-action="Temperance">Read &raquo;</a>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>Diligence</strong>
                        </td>
                        <td scope="row">
                            Declare your Diligence, by High Priest Callixtus Pius
                        </td>
                        <td>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Denunciation" asp-action="Diligence">Read &raquo;</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>