@{ ViewData["Title"] = "Denunciations"; }
@model DenunciationModel

<div class="container-fluid">
    <div class="d-flex flex-column">
        <p class="d-block mx-auto">We're sorry, this IC rant is not available yet. Please come back later!</p>

        <div class="d-block mx-auto">
            <img src="https://media.giphy.com/media/S5JSwmQYHOGMo/200.gif" class="d-block mx-auto">
        </div>
    </div>
</div>