@model AboutModel 
@{ ViewData["Title"] = "About"; }

<div class="container-fluid" style="font-size: 16pt;">
    <div class="row row-fluid ">
        <h4><strong>The Church</strong> is led by the High Exarch with the advice of the High Council of Exarchs, who make the day-to-day decisions on Church policy. Each of the 10 branches of the Church has a seat on the High Council. </h4>
    </div>
    <div style="height:25px;"></div>
    <div class="row row-fluid">
        <div class="col-md-4">

            <div class="card">
                <h3 class="card-header">The High Order</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/high_order.png" alt="The High Order">
                <div class="card-body">
                    <p class="card-text"><strong>The High Order</strong> is the bureaucracy of the Church and is led by the Grand Voice of the High Church. It has no formal planetary presence and reports directly to the High Exarch.</p>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/High_Order" class="card-link" target="_blank">Wiki Link</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <h3 class="card-header">The Guardians</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/guardians.png" alt="The Guardians">
                <div class="card-body">
                    <p class="card-text"><strong>The Guardians</strong> are the protectors of the Church and remain passive unless danger arises.</p>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Guardians" class="card-link" target="_blank">Wiki Link</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <h3 class="card-header">The Crusaders</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/crusaders.png" alt="The High Order">
                <div class="card-body">
                    <p class="card-text"><strong>The Crusaders</strong> are the active military of the Church, deploying where needed to uphold righteousness.</p>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Crusaders" class="card-link" target="_blank">Wiki Link</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4">

            <div class="card">
                <h3 class="card-header">The Orthodoxy</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/high_order.png" alt="The High Order">
                <div class="card-body">
                    <p class="card-text"><strong>The Orthodoxy</strong> holds that Church doctrine and scripture has been perfected by Divine intent and is not subject to change or anything beyond literal interpretation.</p>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Orthodoxy" class="card-link" target="_blank">Wiki Link</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <h3 class="card-header">The Masoodites</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/high_order.png" alt="The High Order">
                <div class="card-body">
                    <p class="card-text"><strong>The Masoodites</strong> have Islamic roots and believe that High Exarch Masood al-Anwar was a true prophet.</p>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Masoodites" class="card-link" target="_blank">Wiki Link</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <h3 class="card-header">The Conservatives</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/high_order.png" alt="The High Order">
                <div class="card-body">
                    <p class="card-text"><strong>The Conservatives</strong> follow the old dogma and teachings but with changing interpretations found in primal religious texts. Acting primarily as bookkeepers and historians, they preach that the ancient texts were written
                        as warning examples to be heeded, and look to the past when solving problems.</p>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Conservatives" class="card-link" target="_blank">Wiki Link</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4">

            <div class="card">
                <h3 class="card-header">The Reformists</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/high_order.png" alt="The High Order">
                <div class="card-body">
                    <p class="card-text"><strong>The Reformists</strong> are chiefly concerned with the daily operation and organization of the Church, taking what they call a more practical view of the doctrine and ethics. This may cause some tension with some of the other
                        branches, but the loyalty of the Reformists is not in question.</p>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Reformists" class="card-link" target="_blank">Wiki Link</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <h3 class="card-header">The Karmists</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/high_order.png" alt="The High Order">
                <div class="card-body">
                    <p class="card-text"><strong>The Karmists</strong> see the Messiah-Emperor as inhabited by the Divine Soul, and preach that if you live a good life you will become one with that Soul. The Karmists emphasize that they serve as guides, not leaders.</p>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Karmists" class="card-link" target="_blank">Wiki Link</a>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="card">
                <h3 class="card-header">The Observers</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/high_order.png" alt="The High Order">
                <div class="card-body">
                    <p class="card-text"><strong>The Observers</strong> adhere to non-interference above all, believing that the Church shall observe and admire God’s creation. Many Observers are hermits and natural scientists.</p>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Observers" class="card-link" target="_blank">Wiki Link</a>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-fluid">
        <div class="col-md-4">

            <div class="card">
                <h3 class="card-header">The Purists</h3>
                <img class="img-fluid img-thumbnail" src="~/Assets/high_order.png" alt="The High Order">
                <div class="card-body">
                    <p class="card-text"><strong>The Purists</strong> proclaim Purity and Glory of Humanity, of which the Emperor stands as the Pinnacle. Aliens are to be exterminated to make way for Humanity, and Synths are soulless and have no ‘emotion’ but deception. Many
                        Inquisitors are of the Purist branch.</p>
                </div>
                <div class="card-body">
                    <a href="http://far-verona.wikia.com/wiki/Purists" class="card-link" target="_blank">Wiki Link</a>
                </div>
            </div>

        </div>
    </div>








</div>
</div>



</div>