@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner) {
    <div class="alert alert-dismissible alert-success" id="cookieConsent" role="alert">
        <p class="navbar-text">
            Please use the buttons to accept the site's GDPR policy
        </p>
        <div class="navbar-right">
            <a asp-controller="GDPR" asp-action="Index" class="btn btn-secondary">Learn More</a>
            <button type="button" class="btn btn-success" data-cookie-string="@cookieString">Accept</button>
        </div>
    </div>

    <script>
        function hide(elements) {
            elements = elements.length ? elements : [elements];
            for (var index = 0; index < elements.length; index++) {
                elements[index].style.display = 'none';
            }
        }

        (function() {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function(el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
                hide(document.getElementById('cookieConsent'));
            }, false);
            
            
        })();

        
    </script>
    }