<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - High Church of the Messiah-as-Emeperor</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
        />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
    </environment>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100 navbar-fixed-top" style="background:whitesmoke; border-bottom: solid lightgrey 2px; border-top: solid lightgrey 2px;">

        <div class="d-block align-self-center align-content-center mx-auto">
            <div class="row row-fluid">
                <div class="d-flex flex-row">
                    <a asp-area="" class="nav-link" asp-controller="Home" asp-action="Index" class="navbar-brand">
                <img src="~/Assets/Twitter_Header.png" class="img img-responsive"  style="width:90%;"/></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" style="max-height: 50px; align-self:center;">
    <span class="navbar-toggler-icon"></span>
  </button>
                </div>
                <div class="d-flex flex-row">
                    <div class="collapse navbar-collapse" id="navbarColor03">
                        <ul class="navbar-nav mr-auto" style="font-size: larger;">

                            <li>
                                <a asp-area="" class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li>
                                <a asp-area="" class="nav-link" asp-controller="Decrees" asp-action="Index">Decrees</a>
                            </li>
                            <li>
                                <a asp-area="" class="nav-link" asp-controller="Content" asp-action="About">About</a>
                            </li>
                            <li>
                                <a asp-area="" class="nav-link" asp-controller="Content" asp-action="Join">Join</a>
                            </li>
                            <li>
                                <a asp-area="" class="nav-link" asp-controller="Content" asp-action="Blessings">The Ten Virtues</a>
                            </li>
                            <li>
                                <a asp-area="" class="nav-link" asp-controller="Reading" asp-action="Index">Readings</a>
                            </li>
                            <li>
                                <a asp-area="" class="nav-link" asp-controller="Social" asp-action="Index">Important Links</a>
                            </li>
                            <li>
                                <a asp-area="" class="nav-link" asp-controller="FAQ" asp-action="Index">HC FAQ</a>
                            </li>
                            <li>
                                <a asp-area="" class="nav-link" asp-controller="Content" asp-action="Templates">Templates</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </nav>

    <partial name="_CookieConsentPartial" />

    <body>
        <div class="container-fluid" style="padding-top:5%; width:95%;">
            <div class="row-fluid">
                <div class="d-flex align-content-center">
                    @RenderBody()
                </div>
            </div>
        </div>
    </body>


    <footer>

        <div class="container font-larger" style="padding-top: 5%;">
            <div class="d-flex">
                <img class="mx-auto d-block w-50 h-50" src="~/Assets/ecumenical_logo.png"></img>
            </div>
            <p>&copy; 2018 - Holy Works Industries</p>
            <p>If the website looks like it was designed by an artistically challenged pelican, please delete your cache.</p>
            <div class="row-fluid">
                <a asp-area="" asp-controller="Content" asp-action="Support">Support the Developers</a>
            </div>
            <div class="row-fluid">
                <a href="https://github.com/kbmacneal/church_of_the_emperor_as_messiah" target="_blank" rel="noopener">This site is licensed under the MIT licence</a>
            </div>
            <div class="row-fluid">
                <a asp-area="" asp-controller="GDPR" asp-action="Index">GDPR Notice and Contact Form</a>
            </div>
        </div>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>

</html>