@{ ViewData["Title"] = "GDPR"; } 

<div class="container font-larger">
  <div class="row-fluid">
    <div class="col-12">

      <form asp-action="Index" asp-controller="GDPR">
        <p>
        <label for="EmailData">User Name:</label>
      </p>
      <p>
      <input type="text" asp-for="UserName" />
      </p>
      <p>
        <label for="EmailData">Email Address:</label>
      </p>
      <p>
      <input type="text" asp-for="EmailAddress" />
      </p>
      <p>
        <label for="IPData">Password:</label>
      </p>
      <p><input type="password" asp-for="Password" /></p>
      <p>
        <input type="submit" value="Submit" />
      </p>  
      
      </form>
      
      
    </div>
  </div>
</div>