@{
    ViewData["Title"] = "Reading";
}
<div class="container-fluid">
    <div class="d-flex flex-column">
        <h3 style="font-weight: bold">The Sermons of The High Church</h3>
        @await Html.PartialAsync("SermonMenu")

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                The Ten Virtues
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonOne">Read &raquo;</a>
            </td>
        </tr>
        <tr>
            <td>
                The Interconnected Virtue of Justice
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonTwo">Read &raquo;</a>
            </td>
        </tr>
        <tr>
            <td>
                A Sermon on Cabina
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonCabina">Read &raquo;</a>
            </td>
        </tr>
        <tr>
            <td>
                A Sermon on Yakiyah
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonYakiyah">Read &raquo;</a>
            </td>
        </tr>
        <tr>
            <td>
                Everyday Faithfullness
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Faithfullness">Read &raquo;</a>
            </td>
        </tr>
        <tr>
            <td>
                A Sermon At Harvey's Wedding
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonHarvey">Read &raquo;</a>
            </td>
        </tr>
        <tr>
            <td>
                A Reading from The Dawn of Man, translated by Exarch Purist Pelax
            </td>
            <td>
                <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonCreation">Read &raquo;</a>
            </td>
        </tr>
    </tbody>
</table>
    </div>
</div>
