<div class="row row-fluid mb-4">
    <div class="dropdown open d-block mx-auto">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            Sermons
        </button>
        <div class="dropdown-menu" aria-labelledby="triggerId">
            <a class="dropdown-item" asp-area="" asp-controller="Sermon" asp-action="Index">
                Text
            </a>
            <a class="dropdown-item" asp-area="" asp-controller="Sermon" asp-action="AudioSermons">Audio</a>
        </div>
    </div>
</div>