@model SocialModel
@{ ViewData["Title"] = "The Holy Planet of Andophael"; }

<div class="container-fluid">
    <div class="flex-column p-3">
        <div class="d-block justify-content-start">
                <div class="row row-fluid">
                        <div class="col-12">
                            <figure class="figure">
                                <img src="~/Assets/complex_map.png" class="d-block mx-auto img-fluid">
                                <figcaption class="figure-caption">Map of the Chalice Complex</figcaption>
                            </figure>
                        </div>
                    </div>
            <div class="row row-fluid">
                <div class="col-12">
                    <figure class="figure">
                        <img src="https://i.pinimg.com/originals/dc/40/f4/dc40f4bf7677a459603bba8bb47afc07.jpg" class="d-block mx-auto img-fluid">
                        <figcaption class="figure-caption">Andophael At Night</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row row-fluid">
                <div class="col-12">
                    <figure class="figure">
                        <img src="~/Assets/sig_system.jpg" class="d-block mx-auto img-fluid">
                        <figcaption class="figure-caption">The Sig System</figcaption>
                    </figure>
                </div>
            </div>
            <div class="row row-fluid">
                <div class="col-12">
                    <figure class="figure">
                        <img src="~/Assets/crystal_ice_city.jpg" class="d-block mx-auto img-fluid">
                        <figcaption class="figure-caption">A Church Retreat Near the Equator.</figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-column p-3">
        <div class="d-block justify-content-end">
            @Html.Raw(Model.andophael_text)
        </div>
    </div>
</div>