@model SocialModel 
@{ ViewData["Title"] = "Important Links and Details"; }

<div class="container-fluid center">
    <div class="row row-fluid">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
            <h3>Current In-Game Day:
                <br> January 5, 3200</h3>
            <br>
            <h3>Follow the Church on Social Media</h3>
            <a href="http://far-verona.wikia.com/wiki/The_High_Church_of_Messiah-as-Emperor" target="_blank" class="btn btn-outline-secondary" runat="server">Read the Church Wiki &raquo;</a>
            <div style="height: 16px;"></div>
            <a href="https://sectorswithoutnumber.com/sector/m11ZXBOt6xiJGo21EKio/planet/BBS4toeUIqJUg6Ydp3fK" target="_blank" class="btn btn-outline-secondary" runat="server">Sector Map &raquo;</a>
            <div style="height: 16px;"></div>
            <a href="http://jgraks-a-p-recap.blubrry.net/feed/podcast/" class="btn btn-outline-secondary" target="_blank">PRISM Network's Podcast &raquo;</a>
            <div style="height: 16px;"></div>
            <a href="https://twitch.tv/itmejp" class="btn btn-outline-secondary" target="_blank">JP's Stream &raquo;</a>
            <div style="height: 16px;"></div>
            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Social" asp-action="Andophael">The Holy Planet of Andophael &raquo;</a>
            <div style="height: 16px;"></div>
            <p>
                <a href="https://twitter.com/ExarchTatiana?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false" target="_blank">Follow ExarchTatiana</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>

            
        </div>
        <div class="col-md-8" >
            <div class="container-fluid">

                <div class="row row-fluid pre-scrollable">
                    <a class="twitter-timeline" href="https://twitter.com/PRISMHeadlines?ref_src=twsrc%5Etfw">Tweets by PRISMHeadlines</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <br></br>
                <div class="row row-fluid">
                    <h3>Sector Map:</h3>
                </div>
                <div class="row row-fluid">
                    <div class="col-12">
                        <img src="~/Assets/Sectormap.jpg" class="img-fluid h-auto" style="margin-bottom: 10px;"></img>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>