@model PDFModel
@{ ViewData["Title"] = "9th Virtue Charity"; }

<div class="container-fluid font-larger">
    <div class="d-flex" style="height:800px;">
        @Html.Raw(Model.html)
        
        </div>
    </div>
</div>