@model BerkmannModel
@{
    ViewData["Title"] = "Cathedral";
}

<div class="container">
    
    <div class="flex-row">
        <img class="mx-auto d-block img-fluid img-thumbnail" src="Assets/berkmann_final.png"></img>
    </div>

    <div style="height:25px;"></div>
    <div class="row-fluid">
        <div class="col-12">
            @Html.Raw(Model.cathedraltext)
        </div>
    </div>
    <div style="height:25px;"></div>
    <div class="row-fluid">
        <a asp-area="" class="nav-link" asp-controller="PDF" asp-action="BerkmannAnnounce">Read the Official Release From the Trilliant Ring</a>
    </div>
</div>