@model QuestionModel 
@{ ViewData["Title"] = "Questions for the High Church"; }

<div class="container-fluid font-larger">
    <div class="row-fluid">
        <p>Have a question for the High Church? Ask it here and someone will get back to you!</p>
    </div>
    <div class="row-fluid">
        <div class="col-12">
            <div class="flex-column">
                <form asp-action="Index" asp-controller="Question">
                    <p>
                        <label for="UserID">User ID (ie Test#$$$$):</label>
                    </p>
                    <p>
                        <input type="text" asp-for="UserID" />
                    </p>
                    <p>
                        <label for="question_text">Question:</label>
                    </p>
                    <textarea asp-for="question_text" style="height:200px; width:500px;"></textarea>
                    <div class="flex-row mt-3">
                            <input class="btn btn-secondary" type="submit" value="Submit" />
                    </div>


                </form>
            </div>



        </div>
    </div>
</div>