@model GDPRModel 
@{ ViewData["Title"] = "Questions for the High Church"; } 

<div class="container font-larger">
  <div class="row-fluid">
      <div class="col-lg-12">
          <p>Your question has been received and will be processed by the site administrators. Please allow for 24 hours for processing. Thank you for your question!</p>
      </div>
  </div>
 </div>
</div>