@{
    ViewData["Title"] = "Cactus Pius";
}
    <div class="container">
        <div class="mx-auto d-block">
            <div class="col-12">
                <h1>The Church Welcomes a New Arhat</h1>
                <img class="img-fluid mx-auto d-block" src="~/Assets/CactusPius.png"></img>
                <p>All may now pray to his spiny glory!</p>
            </div>
        </div>
    </div>