@model HomeModel
@{ ViewData["Title"] = "Home Page"; }

<div class="container-fluid">
    <div class="flex-row mb-4">
        <div class="card d-block mx-auto">
            <div class="card-body">
                <h4 class="card-title text-center">Daily Virtue</h4>
                <p class="card-text">@Html.Raw(Model.VirtueText)</p>
            </div>
        </div>
    </div>
    <div class="flex-row mb-4">
        <div class="container-fluid" style="height:50vh;">
            <div class="d-block mx-auto" style="height:50vh;">
                <div id="carouselExampleIndicators" class="carousel slide h-100 w-100 border rounded" data-interval="false">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a asp-area="" asp-controller="Sermon" asp-action="SermonCreation">
                                <img style="height:50vh;" class="img-fluid img-scaled align-middle d-block mx-auto" src="Assets/pope_hat_compressed.png"
                                     alt="First slide">
                            </a>

                            <div class="carousel-caption d-md-block">
                                <h5>A Reading: The Dawn of Man</h5>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <a asp-area="" asp-controller="Sermon" asp-action="Index">
                                <img style="height:50vh;" class="img-fluid img-scaled align-middle d-block mx-auto" src="Assets/CactusPius.png"
                                     alt="First slide">
                            </a>

                            <div class="carousel-caption d-md-block">
                                <h5>The Sermons of Callixtus Pius</h5>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <a asp-area="" asp-controller="PDF" asp-action="EridaniExpertise">
                                <img style="height:50vh;" class="img-fluid img-scaled d-block mx-auto" src="Assets/stainedglass1.jpg"
                                     alt="Third slide">
                            </a>

                            <div class="carousel-caption d-md-block">
                                <h5 class="card-title">Church Turns to Eridanus to Solve Corruption Scandal</h5>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <a asp-area="" asp-controller="Berkmann" asp-action="Index">
                                <img style="height:50vh;" class="img-fluid img-scaled d-block mx-auto" src="Assets/berkmann_final.png"
                                     alt="Third slide">
                            </a>

                            <div class="carousel-caption d-md-block">
                                <h5 class="card-title">New Cathedral Opens on Berkmann III</h5>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <div class="row">
            <div class="col-md-3">
                <div class="d-flex flex-column">
                    <p>Have a question? Ask it here!</p>
                    <a class="btn btn-outline-secondary" style="width:60px;" asp-area="" asp-controller="Question"
                       asp-action="Index">Go &raquo;</a>
                </div>

                <p class="mt-3">
                    <a href="https://twitter.com/ExarchTatiana?ref_src=twsrc%5Etfw" class="twitter-follow-button"
                       data-show-count="false">Follow ExarchTatiana</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </p>

                <div style="max-height: 100vh; overflow-y:scroll;">
                    <a class="twitter-timeline" href="https://twitter.com/ExarchTatiana?ref_src=twsrc%5Etfw">
                        Tweets by
                        ExarchTatiana
                    </a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="col-md-9">

                <div class="d-flex flex-row mt-3">
                    <h3>News and Events</h3>
                </div>
                <div class="flex-row pre-scrollable w-100" style="max-height: 100vh;">
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Miansha Is Over!
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="WeHaveAWinner">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Bad Apples, by Exarch Masoodite Pelax
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="BadApples">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Miansha Continues
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="MianshaContinues">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                The Revelation Has Come!
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="YouTube" asp-action="Revelation">
                                Watch
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                High Level Of Activity Reported During Miansha Period
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="MoreMeetings">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Too Many Barons, by Exarch Masoodite Pelax
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="TooManyBarons">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                The Church Responds to Eridanian Letter
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="EridanusResponse">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Miansha Has Begun!
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Miansha">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Stop Looking in the Mirror, and Start Looking out the Window, by Hierophant Andelo Kopač
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="RememberGats">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                A Bird In The Hand, by Exarch Masoodite Pelax
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="HandBird">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Correct Action Requires Correct Thought, by Exarch Masoodite Pelax
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="VirtuousAction">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Weeds on the Path of Virtue, by Exarch Masoodite Pelax
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="VirtueWeeds">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                High Church Accepts PRISM Network Surrender
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="PRISMSurrender">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                High Church Publishes Article On ACRE's Surrender
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="ACREPR">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                High Church Accepts ACRE's Surrender
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="ACREAcceptance">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Holy Text Starts Tour of Andophael
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="TextTour">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                On Matters Moral and the Alien Mind. By Lector Conservative Hiroya Markshall
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="MoralAndAlien">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                The Final Sunset: The Eschatology of the High Church. By Hierophant Andelo Kopač 👁
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="FinalSunset">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                How an Aquilan Earned His Qi
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonBruce1">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Daily Reading: The Dawn of Man
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonCreation">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                We Are Sorry
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sorry" asp-action="Index">
                                View
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                The Tale of the Fifth, by Heirophant Andelo Kopac
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="FifthTale">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                Sinners In The Hands Of A Merciful God, by High Priest Meinrad Spire
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="MercifulGod">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Children of Demnoph, by Hierophant Andelo Kopač</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="ChildrenDemnoph">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Long Live the Empire, by Hierophant Andelo Kopač</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="LongLiveEmpire">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">The Tale of the Faithful Seeker</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="FaithfulSeeker">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">A New Exarch Becomes Grand Voice</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="NewVoice">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">
                                The High Church Recinds Protection from Those Who Forgo The Light of
                                the Almighty.
                            </h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="RepentantMissive">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">The Church Addresses Recent Rumors of Religious Disunity</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="ChrDeclaration">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">The Church Responds to the article entitled "Woe To the Rich</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="WoeRich">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">The Countess and the Credits</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="CountessCredits">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Church Denounces Recent Sector Developments</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Denunciation" asp-action="Index">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Demnoph High Priest Returns to Andophael</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="DemnophWithdrawn">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Church Acquires New Tool to Protect Sector</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="TWeb">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Church Invests in New Generation</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Treachery">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Pelax Elevated to Exarch Purist</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="PelaxElevation">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Second Part of the Meeting Between the Houses Major and Minor, 7/20</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Audio" asp-action="MeetingTwo">
                                Listen
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Where's Callixtus Pius?</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="WheresCallixtus"
                               asp-action="Index">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Special Dispensation Granted to Yakiyah Commission for Legal Support</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Dispensation">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Meeting between the Houses Major and Minor, 7/14</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Audio" asp-action="Meeting">
                                Listen
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">The Sermon at Harvey's Wedding</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonHarvey">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">A Sermon on Cabina</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonCabina">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Everyday Faithfulness, by Andelo Kopac</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Faithfullness">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">High Church Turns To House Eridanus to Solve Corruption Scandal</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="EridaniExpertise">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">High Church Announces Mutual Defense Pact</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="TrillMDP">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">New Cathedral Opens on Berkmann III</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Berkmann" asp-action="Index">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Charity Makes Contribution to Teuthem Relief Effort</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="TeuthemCost">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Church Opens Sector-wide Charity</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Charity">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Church Welcomes New Arhat</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Home" asp-action="Cactus">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Lyra Publishes New Burial Specifications for Clergy</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Burial" asp-action="Specifics">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Faith and Virtue: A Response to Governor Mourne Kushrenade</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Faith">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">The Church Remembers the Fallen on Teuthem</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Teuthem">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Response to the 12th Debate</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Debate">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>

                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Excommunication of the Apostate Money Lenders</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Excom">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>

                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">Official Statement on Koschei the Deathless</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Koschei">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>

                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">The Church's Public Statements on Berkmann III</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Berkmann">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>

                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">The Spirit of Unity on Andophael</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Unity">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>

                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">20 Questions With the High Church</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="PDF" asp-action="Questions">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>

                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">A Letter From Meret Lyra Pygmalion Blue</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Burial" asp-action="Index">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>

                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">A Sermon On Yakiyah</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="SermonYakiyah">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>

                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">From the Desk of the Grand Voice</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Content" asp-action="FromTheDesk">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>

                    <div class="card border-secondary m-2">
                        <div class="card-body">
                            <h4 class="card-title">The Sermons of High Priest Callixtus Pius</h4>
                            <a class="btn btn-outline-secondary" asp-area="" asp-controller="Sermon" asp-action="Index">
                                Read
                                &raquo;
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>