@{
ViewData["Title"] = "Ascendancy Message";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 d-block mx-auto pb-3">
            <img class="img img-scaled" src="~/Assets/Twitter_Header.png" type="image/png"></img>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 d-block mx-auto">
            <h3 class="d-block mx-auto text-center">Those at the High Church look forward to returning to their daily duties serving
                communities small and large across the sector. Before they do, they wish to share words of wisdom with
                their siblings.</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-8 d-block mx-auto">
            <div class="card-columns">
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To House Triangulum
                    </div>
                    <div class="card-body">
                        <p class="card-text">Let passion and creativity inspire your endeavours. With your work leading
                            the way, humanity can achieve another golden age.

                            But tread carefully.

                            A chain cannot be strong when it is broken.

                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To House Serpens
                    </div>
                    <div class="card-body">
                        <p class="card-text">You humbly see where they cannot, guiding the gifted for ever more.

                            You saw darkness, and lifted us into light.

                            Continue your noble work, Sibling.

                            Teach them not to bear fangs at the world, but to bring it into the safety of the Den.

                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To House Reticulum
                    </div>
                    <div class="card-body">
                        <p class="card-text">As new winds blow, the Blue Forest stands unmoving firm of root and strong
                            of heart.

                            Do not ignore the zephyr.

                            For only those firmest of root can tame it. Shape it. Wield it.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To House Lyra
                    </div>
                    <div class="card-body">
                        <p class="card-text">As composed by the Grand Voice.<br /><br />
                            "At tranquil twilight<br />
                            One younger sibling dances,<br />
                            watching life pass by."<br /><br />

                            Do not get entranced by the beauty of The After, when there is still so much life to live.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To House Eridanus
                    </div>
                    <div class="card-body">
                        <p class="card-text">As it flows, House Eridanus
                            . Your daily toil is always appreciated. Now is the time for growth. A time for prosperity.

                            Count the coins, and help keep the Faithful in the black.

                            Yet be warned Money is the vehicle. Not the destination.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To House Aquila
                    </div>
                    <div class="card-body">
                        <p class="card-text">Faithful Aquila, protectors of the realm. We are bound by blood in service
                            to God, but we are also bound by duty in service to the people.

                            Protect them. Serve them. Help them.

                            Remember them. Now and always.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To House Fornax
                    </div>
                    <div class="card-body">
                        <p class="card-text">Forged in fire, forever Faithful, your flame has waned somewhat due to
                            recent events.

                            Do not let this stop you, Major House.

                            Your passion drives the sector.

                            Bring that fire with you, always. You may never know when it will be required.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To House Crux
                    </div>
                    <div class="card-body">
                        <p class="card-text">Ever steadfast. Ever true. There are many evils in this world. Do not get
                            overwhelmed by the challenges you face.

                            Stay focused.

                            Stay True.

                            Do not rest until every synthetic threat to our world has been compromised to a permanent
                            end.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To The Deathless
                    </div>
                    <div class="card-body">
                        <p class="card-text">Soldiers of Fortune, we salute you.

                            Koschei Is and Koschei will be. We hope more embrace the faith of our Arhat.

                            Your Neutrality is to be applauded.

                            May others look to you as an example of peace.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To The Democratic Mandate
                    </div>
                    <div class="card-body">
                        <p class="card-text">From Winter to Spring. From Spring to Summer.

                            From Life comes Death. From Death comes Life.

                            Change is inevitable.

                            Change is sacred, an improper task for the unrighteous.

                            You say you are the tide and not the fire?

                            Prove it.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To The PRISM Network
                    </div>
                    <div class="card-body">
                        <p class="card-text">Focus on spreading joy.

                            It is joy that is most craved, that people open their hearts to.

                            And remember

                            “Whether Citrine Yellow or Sapphire Blue,

                            Whatever we watch, we all watch you.”
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To SERAPH
                    </div>
                    <div class="card-body">
                        <p class="card-text">Where to begin, dear SERAPH?

                            We have had our differences in the past, to say the least.

                            Now, focus on Charity and goodness.

                            Uplift Imperial spirits with these virtuous endeavours.

                            In this, we will support you all we can.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To The Confederation of the Upright Vagrant
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            You have been a faithful example that God saves all who call on them.

                            From Enemies to Friends.

                            From Apostate to Faithful.

                            Keep up your good work.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To The Trilliant Ring
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Not noble by birth, but noble in action.

                            Our brethren now.

                            Our brethren always.

                            Stay trill, friends.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To House Pyxis
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            Our Imperial House. Messiah.

                            The people have Hope.

                            Yet Hope is a fragile & skittish child.

                            At present, she sits on the clifftop, dangling her feet from the edge, watching the Suns
                            begin to rise.

                            For all our sakes, do not let her tumble.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header card-header-dropshadow text-center">
                        To The People of Acheron Rho
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            And to all those who continue to look to God for strength and guidance, we recommend that
                            you look no further than the
                            sacred words of Arhat Esquire and Arhat Logan

                            "Be excellent to each other."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>