@{
    ViewData["Title"] = "9th Virtue Charity";
}

<div class="container-fluid font-larger">
    <div class="w-100">
        <img class="img-fluid mx-auto d-block" src="~/Assets/ninth_virtue_charity.png" />
    </div>
</div>