@{
    ViewData["Title"] = "9th Virtue Charity";
}

<div class="container-fluid font-larger">
    <div class="d-flex">
            <a href="~/Documents/ninth_virtue_charity.pdf" class="mx-auto d-block" target="_black">Link to PDF Version</a>

    </div>
    <div class="d-flex w-100">=
            <img class="img-fluid mx-auto d-block" src="~/Assets/ninth_virtue_charity.png" />
    </div>
</div>