@{ ViewData["Title"] = "High Church Art Gallery"; }

<div class="container-fluid" style="font-size: 16pt;">
     @await Html.PartialAsync("_GalleryMenu")
    <div class="row row-fluid mb-4">
        <div class="col-md-3">
            <div class="card">
                <h3 class="card-header">Standard</h3>
                <img class="img-fluid img-thumbnail ambigram" src="~/Assets/Ambigrams/seven_sibling/std.jpg">
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <h3 class="card-header">Alpha</h3>
                <img class="img-fluid img-thumbnail ambigram" src="~/Assets/Ambigrams/seven_sibling/alpha.png">
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card">
                <h3 class="card-header">Distressed</h3>
                <img class="img-fluid img-thumbnail ambigram" src="~/Assets/Ambigrams/seven_sibling/distressed.png">
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="card">
                <h3 class="card-header">Combined</h3>
                <img class="img-fluid img-thumbnail ambigram" src="~/Assets/Ambigrams/seven_sibling/combined.png">
            </div>
        </div>
    </div>
</div>