@model FAQModel
@{
    ViewData["Title"] = "FAQ";
}

<div class="container-fluid">
    <div class="row">
        <img src="Assets/high_order.png" class="d-block mx-auto img-scaled" style="margin-bottom:2rem;width:20%;"></img>
    </div>
    <div class="row-fluid">
        <div class="col">
            @Html.Raw(Model.FAQtext)
        </div>
    </div>
</div>