@page
@model TenBlessings
@{
    ViewData["Title"] = "The 10 Blessings of our Faith";
}
<!-- <h2>@ViewData["Title"]</h2> -->
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
