@model SermonYakiyahModel 
@{ ViewData["Title"] = "A Sermon on Yakiyah"; }

<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="d-flex flex-column p-3">
            <div class="d-flex">
                <div class="flex-row">
                    <img class="img-thumbnail img-fluid w-50" src="~/Assets/yakiyah.jpg" />
                    <div class="lead">Yakiya, a planet in the Tsatsos system, currently controlled by A.C.R.E.</div>
                    <h2>@Model.sermonheader</h2>
                    <div style="font-size: 14pt;">@Html.Raw(Model.sermontext)</div>
                </div>

            </div>
        </div>
        <div class="d-flex flex-column p-3">
            <div class="d-flex">
                <div class="flex-row">
                    <h2>
                        @Model.sermonheaderright
                    </h2>
                    @Html.Raw(Model.sermontextright)
                </div>
            </div>
        </div>
    </div>


</div>