@{ ViewData["Title"] = "Bot Commands"; }

<div class="container-fluid">
    <div class="d-flex flex-column">
        <h3 class="d-block mx-auto" style="font-weight: bold">Frederick the Timebot Command List</h3>
        <div class="d-block mx-auto">
            <table class="table table-bordered table-responsive d-block mx-auto border-light">
                <thead class="thead-inverse">
                    <tr>
                        <td colspan="3" scope="col" class="text-center">HEADER</th>
                    </tr>
                    <tr>
                        <th scope="col">Command Text</th>
                        <th scope="col">Description</th>
                        <th scope="col">Administrator Required?</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>