@{ ViewData["Title"] = "Bot Commands"; }

<div class="container-fluid">
    <div class="d-flex flex-column">
        <h3 class="d-block mx-auto" style="font-weight: bold">Frederick the Timebot Command List</h3>
        <div class="d-block mx-auto">
            <table class="table table-bordered table-responsive d-block mx-auto border-light">
                <thead class="thead-inverse">
                    <tr>
                        <td colspan="3" scope="col" class="text-center">Admin</th>
                    </tr>
                    <tr>
                        <th scope="col">Command Text</th>
                        <th scope="col">Description</th>
                        <th scope="col">Administrator Required?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">
                            <strong>tb!sendfactionblast</strong>
                        </td>
                        <td scope="row">
                            Sends a message to every member of a faction that the bot can see.
                        </td>
                        <td scope="row">
                            <i class="fas fa-check text-center"></i>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>tb!getfactioncount</strong>
                        </td>
                        <td scope="row">
                            Gets the realtime count of all members of a faction from the SWNBot API.
                        </td>
                        <td scope="row">
                            <i class="fas fa-check text-center"></i>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>tb!cleanfaclists</strong>
                        </td>
                        <td scope="row">
                            Can be run either against everyone on a server or against a specific user (at the user as a
                            parameter to use the latter). Will check and make sure the faction roles match with the
                            main FV server.
                        </td>
                        <td scope="row">
                            <i class="fas fa-check text-center"></i>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>tb!listfaction</strong>
                        </td>
                        <td scope="row">
                            Returns the list of all factions available to the addfaction command.
                        </td>
                        <td>

                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>tb!addfaction "faction with spaces"</strong>
                        </td>
                        <td scope="row">
                            Adds the sender to the selected faction. Administrators can at an individual then specify
                            the faction and the bot will add the user to the faction. This is the preferred way to add,
                            since the bot with check with the FV server to make sure that the user is a part of that
                            faction.
                        </td>
                        <td scope="row">

                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>tb!removefaction "faction with spaces"</strong>
                        </td>
                        <td scope="row">
                            Exactly like the addfaction command, but removes. Has the same at user overload.
                        </td>
                        <td scope="row">
                            <i class="fas fa-check text-center"></i>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>tb!tracker</strong>
                        </td>
                        <td scope="row">
                            Pastes the link to the faction tracker in chat
                        </td>
                        <td scope="row">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>tb!rulings</strong>
                        </td>
                        <td scope="row">
                            Pastes the WoA rulings link into chat.
                        </td>
                        <td scope="row">
                        </td>
                    </tr>
                    <tr>
                        <td scope="row">
                            <strong>tb!archivechannel</strong>
                        </td>
                        <td scope="row">
                            Takes a complete record of the channel, converts it to json, and dumps the result as an
                            attachment to the channel.
                        </td>
                        <td scope="row">
                            <i class="fas fa-check text-center"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-responsive d-block mx-auto border-light">
                <thead class="thead-inverse">
                    <tr>
                        <td colspan="3" scope="col" class="text-center">HEADER</th>
                    </tr>
                    <tr>
                        <th scope="col">Command Text</th>
                        <th scope="col">Description</th>
                        <th scope="col">Administrator Required?</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <table class="table table-bordered table-responsive d-block mx-auto border-light">
                <thead class="thead-inverse">
                    <tr>
                        <td colspan="3" scope="col" class="text-center">HEADER</th>
                    </tr>
                    <tr>
                        <th scope="col">Command Text</th>
                        <th scope="col">Description</th>
                        <th scope="col">Administrator Required?</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <table class="table table-bordered table-responsive d-block mx-auto border-light">
                <thead class="thead-inverse">
                    <tr>
                        <td colspan="3" scope="col" class="text-center">HEADER</th>
                    </tr>
                    <tr>
                        <th scope="col">Command Text</th>
                        <th scope="col">Description</th>
                        <th scope="col">Administrator Required?</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <table class="table table-bordered table-responsive d-block mx-auto border-light">
                <thead class="thead-inverse">
                    <tr>
                        <td colspan="3" scope="col" class="text-center">HEADER</th>
                    </tr>
                    <tr>
                        <th scope="col">Command Text</th>
                        <th scope="col">Description</th>
                        <th scope="col">Administrator Required?</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <table class="table table-bordered table-responsive d-block mx-auto border-light">
                <thead class="thead-inverse">
                    <tr>
                        <td colspan="3" scope="col" class="text-center">HEADER</th>
                    </tr>
                    <tr>
                        <th scope="col">Command Text</th>
                        <th scope="col">Description</th>
                        <th scope="col">Administrator Required?</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <table class="table table-bordered table-responsive d-block mx-auto border-light">
                <thead class="thead-inverse">
                    <tr>
                        <td colspan="3" scope="col" class="text-center">HEADER</th>
                    </tr>
                    <tr>
                        <th scope="col">Command Text</th>
                        <th scope="col">Description</th>
                        <th scope="col">Administrator Required?</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>