@model JoinModel
@{
    ViewData["Title"] = "Join the Church";
}

<div class="container-fluid center">
    <div class="row row-fluid align-content-center">
        <div class="col center">
            <blockquote class="blockquote">
                <p class="mb-0" style="font-size: 16pt;">Look at the stars! I cast you among them, to populate them, and bring humanity to the greatest reaches of the universe!</p>
                <footer class="blockquote-footer" style="font-size: 14pt;">Holy Manual, <cite title="Sutra 5, Paragraph 1">Sutra 5, Paragraph 1</cite></footer>
            </blockquote>

            <div class="container-fluid">
                <img class="img-responsive" src="~/Assets/Propaganda.png" width="50%;" />
            </div>
            <p style="font-size:14pt;">The High Church always welcomes Children of the Empire to its ranks. Live a faithful life in service of God and the Messiah. Dental plans may or may not be included - ask your local Priest if they apply to you. If you are somewhere without
                a local Priest, do not despair, and contact the Church via Discord or Twitter.</p>
            <p style="font-size:20pt;">For more information, click <a href="https://docs.google.com/document/d/15gaYV8U3ItYMart-9XMcANPEO8B8EQJ-7dz3qUy_Q2s/view">this link </a>to open the official Church pamphlet.</p>
        </div>
    </div>
</div>