/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */

/* Set some basic padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */

input, select, textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}


/*.container {
    width: 400px;
}*/

.quote {
    background-color: #6b936a;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
    margin: 0;
    padding: 50px;
    font-size: 20px;
}

.name {
    background-color: #333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

/* Reset */

blockquote {
    padding: 0;
    margin: 0;
}

@media (min-width: 858px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 724px) {
    html {
        font-size: 13px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 12px;
    }
}
.pre-scrollable {
    max-height: 480px;
    overflow-y: scroll;
}


/*blockquote::after {
        border-color: transparent #6b936a transparent transparent;
        border-image: none;
        border-style: solid;
        border-width: 20px;
        top: 40px;
        content: " ";
        display: block;
        right: 75%;
        position: relative;
    }*/

/* #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.4;
    filter: alpha(opacity=40);
} */
.col-centered {
    float: none;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

@media only screen and (max-device-width: 480px) {
    div#wrapper {
        width: 400px;
    }

        div#header h1 {
            font-size: 140%;
        }

    #content {
        float: none;
        width: 100%;
    }

    #navigation {
        float: none;
        width: auto;
    }
}

.div-pad {
    height:25px;
}

@-ms-viewport {
    width: device-width;
}

.jumbotron {
    /*background-color: ;*/
    border: 2px solid #e8e6e6;
}

.align-content-center {
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}

div.center {
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    clear: both;
    font-size: .8em;
    height: 100px;
    margin-left: 5px;
}

div.content {
    margin: 20px 20px 20px 5px;
}

/* LOGO */
.logo {
    margin: 20px 20px 20px 5px;
    font-family: Verdana;
    font-size: 24px;
    font-weight: bold;
    color: #839fa7;
    width: 100%;
}

/* Specific DIVs */
#search {
    float: left;
    width: 95%;
    overflow-x: scroll;
}

#productEdit {
    float: left;
    clear: both;
    width: 95%;
    overflow-x: scroll;
}

#transactionHistory {
    float: left;
    clear: both;
    width: 95%;
    overflow-x: scroll;
}

.font-larger{
    font-size: larger;
}